{% for post in posts %}
	<div class="blog-post">
		<a href="{{ post.link }}" title="{{ post.title }}" class="post-thumbnail">
			<img src="{{ post.thumbnail.src }}" alt="">
		</a>
		<div class="post-entry-content">
			<p class="post-title">{{ post.title }}</p>
			<div class="post-date">
				<span>{{ post.date('j M Y') }}</span>
				<a href="{{ post.link }}" class="text-uppercase" title="{{ post.title }}">
					{{ __('read more', 'colibri') }}
					<img src="{{ triangle_right }}">
				</a>
			</div>
		</div>
	</div>
{% endfor %}