{% extends "templates/base.twig" %}

{% block content %}

<section class="contact-page">
	<div class="container">
		<div class="flex-container">
			<div class="contacts">
				<div id="contacts-map">
					<div class="marker" data-lat="{{ contacts.google_map['lat'] }}" data-lng="{{ contacts.google_map['lng'] }}"></div>
				</div>
				<div class="contact-info">
					<div class="address">
						<h3 class="text-uppercase font-extra-bold address-title">{{ __("[:en]address[:fr]adresse", "colibri") }}</h3>
						<p class="company-name font-extra-bold">
							{{ contacts.company_name }}
						</p>

						<p class="address-line">
							{{ contacts.address }}
						</p>
						{% if contacts.social_links %}
							<nav class="social-nav">
								<h3 class="text-uppercase font-extra-bold">{{ __("[:en]follow us[:fr]Suivez nous", "colibri") }}</h3>
								<ul class="list-inline social-menu">
									{% for item in contacts.social_links %}
										<li class="social-extra-item">
											<a class="social-extra-link" href="{{ item.link }}" target="_blank" rel="nofollow">
												<img src="{{ item.icon }}" alt="">
											</a>
										</li>
									{% endfor %}
								</ul>
							</nav>
						{% endif %}
					</div>
					<div class="phone">
						<h3 class="text-uppercase font-extra-bold">{{ __("[:en]telephone[:fr]Téléphone", "colibri") }}</h3>
						<p class="general-enquiries">
							{{ contacts.general_enquiries }}
						</p>
						<p class="technical-enquiries">
							{{ contacts.technical_enquiries }}
						</p>
					</div>
				</div>
			</div>
			<div class="contact-form-cnt">
				<div class="contact-form">
					<p class="form-title text-center">{{ __("[:en]Send us a message![:fr]Envoie-nous un message", "colibri") }}</p>
					{{ function('do_shortcode', '[formidable id=' ~ contacts.form_id ~ ']') }}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
