		</div> {# END wrapper #}
		<footer>
			<div class="footer-menus">
				<div class="container">
					<div class="flex-container footer-nav-cnt">
						<div class="flex-container">
							<div class="footer-nav grow-large">
								<p class="font-extra-bold text-uppercase">{{ __("[:en]Products[:fr]Produits", "colibri") }}</p>
								<ul class="footer-menu products-menu">
									{% for item in footer_menu_products.get_items %}
										<li class="footer-nav-item {{ item.class }}">
											<a class="footer-nav-link" href="{{ item.get_link }}">
												{{ item.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="footer-nav">
								<p class="font-extra-bold text-uppercase">{{ __("[:en]Help[:fr]AIDE", "colibri") }}</p>
								<ul class="footer-menu">
									{% for item in footer_menu_help.get_items %}
										<li class="footer-nav-item {{ item.class }}">
											<a class="footer-nav-link" href="{{ item.get_link }}">
												{{ item.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="footer-nav">
								<p class="font-extra-bold text-uppercase">{{ __("[:en]About[:fr]A Propos", "colibri") }}</p>
								<ul class="footer-menu">
									{% for item in footer_menu_about.get_items %}
										<li class="footer-nav-item {{ item.class }}">
											<a class="footer-nav-link" href="{{ item.get_link }}">
												{{ item.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{% if footer.social_links %}
							<div class="footer-nav no-grow">
								<p class="font-extra-bold text-uppercase">{{ __("[:en]Follow us on[:fr]Suivez nous", "colibri") }}</p>
								<ul class="footer-menu list-inline social-menu">
									{% for item in footer.social_links %}
										<li class="footer-nav-item">
											<a class="footer-nav-link" href="{{ item.link }}" target="_blank" rel="nofollow">
												<img src="{{ item.icon }}" alt="">
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<p class="copy text-center">
				{{ __("Copyright %s. Wolf Formulations Ltd. All rights reserved" | format("now"|date('Y')), "colibri") }}
			</p>
		</footer>
		{{ function('wp_footer') }}
	</body>
</html>