<header itemscope itemtype="http://schema.org/WPHeader">	
	<div class="container">
		<div class="flex-container header-nav-bar">
			<div itemscope itemtype="http://schema.org/Organization" id="logo">
				<a itemprop="url" href="{{ site.url }}">
					<img itemprop="logo"
						src="{{ theme.path }}/assets/img/logo.png"
						srcset="{{ theme.path }}/assets/img/logo.png 1x,
										{{ theme.path }}/assets/img/logo-retina.png 2x"
					>
					Colibri Ecopods
				</a>
			</div>
			<button class="nav-toggle visible-xs visible-sm" data-toggle="collapse" data-target="#header-main-menu">
				<span class="burger-line"></span>
				<span class="burger-line"></span>
				<span class="burger-line"></span>
			</button>
			<nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="header-main-menu collapse" id="header-main-menu">
				<ul class="nav-main flex-container">
					{% for item in main_menu.get_items %}
						<li class="nav-main-item {{ item.class }}">
							<a class="nav-main-link" href="{{ item.get_link }}">
								{{ item.title }}
							</a>
							{% if item.get_children %}
								<div class="nav-drop-cnt">
									<ul class="nav-drop">
										{% for child in item.get_children %}
											<li class="nav-drop-item font-bold {{ child.class }}">
												<a href="{{ child.get_link }}">
													{{ child.title }}
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</header>
<div id="wrapper"> {# START wrapper #}