{% extends "templates/base.twig" %}

{% block content %}

<section class="product-list">
	<div class="container">
		<div class="products-list-container flex-container">
			{% for product in products_page.products %}
				<a href="{{ product.link }}" title="{{ product.title }}" class="product-list-item list-item">
					<img src="{{ product.get_field('products_page_image') }}" alt="{{ product.title }}">
					<img src="{{ product.get_field('products_page_image_hover') }}" class="hover-state" alt="{{ product.title }}">
					<span>{{ product.title }}</span>
				</a>
			{% endfor %}
			<div class="re list-item">
				<img src="{{ theme.path }}/assets/img/re.png">
			</div>
		</div>
	</div>
</section>

{% if products_page.product_information %}
	<section class="product-information">
		<p class="text-center">{{ products_page.product_information }}</p>
	</section>
{% endif %}

{% if products_page.product_benefits %}
	<section class="product-benefits">
		<div class="container">
			{{ products_page.benefits_title ?
				'<p class="section-title-small">' ~ products_page.benefits_title ~ '</p>'
			}}

			<div class="flex-container benefits-columns">
				{% for benefit in products_page.product_benefits %}
					<div class="benefit">
						<img src="{{ benefit.icon }}" alt="">
						<p class="text-center">{{ benefit.benefit_text }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}

{% if products_page.faqs %}
	<section class="faqs">
		<div class="container">
			{{ products_page.faqs_title ?
				'<p class="section-title-small">' ~ products_page.faqs_title ~ '</p>'
			}}
			
			{% include "templates/partials/faq-panel-group.twig" with { 'page_faqs': products_page.faqs } %}
			<div class="text-center">
				<a href="{{ site.url }}/frequently-asked-questions/" class="colibri-button button-primary more-faqs">
					{{ __("More FAQs", "colibri") }}
				</a>
			</div>
		</div>
	</section>
{% endif %}

<section class="surfaces" style="background: url('{{ products_page.surfaces_banner_image }}') no-repeat right center/cover;">
	<div class="container">
		<div class="surfaces-text">
			<p class="list-title font-extra-bold">{{ __("We cover all surfaces:", "colibri") }}</p>
			<ul class="surface-list">
				{% for product in products_page.products %}
					<li>
						<a href="{{ product.link }}" title="{{ product.title }}">
							{{ product.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

{% endblock %}