<ul class="social-sharing">
	<li>
		<img src="{{ theme.path }}/assets/img/sharing/tag.png">
	</li>
	<li>
		<img src="{{ theme.path }}/assets/img/sharing/clapping.png">
	</li>
	<li>
		<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share.link }}" target="_blank">
			<img src="{{ theme.path }}/assets/img/sharing/fb.png">
		</a>
	</li>
	<li>
		<a class="twitter" href="https://twitter.com/intent/tweet?text={{ share.link }}" target="_blank">
			<img src="{{ theme.path }}/assets/img/sharing/twitter.png">
		</a>
	</li>
	<li>
		<a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ share.link }}&title={{ share.title }}&summary=&source={{ share.src }}" target="_blank">
			<img src="{{ theme.path }}/assets/img/sharing/linkedin.png">
		</a>
	</li>
</ul>