{% extends "templates/base.twig" %}

{% block content %}

<section class="product-info">
	<div class="container">
		<div class="flex-container">
			{% if single_product.gallery %}
				<div class="product-gallery">
					<div class="product-thumb-cnt">
						<img src="{{ single_product.gallery[0] }}" class="product-thumb" alt="">
					</div>

					<div class="product-gallery-small">
						{% for image in single_product.gallery %}
							<div
								class="img-container {{ loop.first ? 'active' }}"
								style="background: url({{ image }}) no-repeat center/cover;"
								data-url="{{ image }}"
							>		
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			<div class="product-content">
				<h1 class="product-title font-extra-bold">{{ single_product.post.post_title }}</h1>
				<p class="product-description">{{ single_product.post.post_content }}</p>
				{% if single_product.product_features %}
					<p class="product-features-title">
						{{ __("[:en]Product Features[:fr]Détails du produit", "colibri") }}
					</p>
					<ul class="product-features">
						{% for feature in single_product.product_features %}
							<li>
								<img src="{{ theme.path }}/assets/img/checkmark.png">
								{{ feature.feature }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if single_product.button_name is not empty %}
					<a href="{{ single_product.button_link }}" class="colibri-button button-primary wtb-button" title="{{ single_product.button_name }}">
						{{ single_product.button_name }}
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>

{% if single_product.tabs %}
	<section class="info-tabs">
		<ul class="tabs-nav text-center">
			{% for tab in single_product.tabs %}
				<li class="{{ loop.first ? 'active' }}">
					<a data-toggle="tab" href="#tab-{{ loop.index }}">
						{{ tab.tab_title }}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content">
			{% for tab in single_product.tabs %}
				<div id="tab-{{ loop.index }}" class="tab-pane fade {{ loop.first ? 'in active' }}">
					{{ tab.tab_content }}
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}

{% if single_product.how_it_works %}
	<section class="how-it-works">
		<div class="container">
			<p class="how-it-works-title section-title-small">
				{{ __("[:en]How it works[:fr]Comment ça marche?", "colibri") }}
			</p>

			<div class="flex-container">
				{% for step in single_product.how_it_works %}
					<div class="hiw-step">
						<img src="{{ step.image }}" alt="{{ step.step }}">
						<p class="step-text font-extra-bold text-center">{{ step.step }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}


{% if single_product.faqs %}
	<section class="faqs">
		<div class="container">
			{{ single_product.faqs_title ?
				'<p class="section-title-small">' ~ single_product.faqs_title ~ '</p>'
			}}
			
			{% include "templates/partials/faq-panel-group.twig" with { 'page_faqs': single_product.faqs } %}
		</div>
	</section>
{% endif %}

{% if single_product.full_width_image %}
	<div class="product-full-width-image" style="background: url({{ single_product.full_width_image }}) no-repeat center/cover;"></div>
{% endif %}

{% if single_product.attached_reviews %}
	<section class="product-reviews">
		<div class="container">
			<div class="title-cnt">
				<p class="h1 text-center font-extra-bold reviews-title">
					{{ __("Reviews for %s" | format(single_product.post.post_title), "colibri") }}
				</p>
				<div class="total-reviews flex-container">
					<img 
						src="{{ theme.path }}/assets/img/stars/{{ single_product.total_product_rating }}.png"
						class="total-stars"
						alt="{{ single_product.total_product_rating }} stars"
					>
					<span class="reviews-count">
						{{ __("Total: %d reviews" | format(single_product.reviews|length), "colibri") }}
					</span>
				</div>
			</div>
			<div class="reviews-cnt">
				{% for review in single_product.attached_reviews %}
					{% set rating = function('get_field', 'star_rating', review.ID) %}
					<div class="single-review-cnt">
						<div class="single-review">
							<div class="review-header flex-container">
								<p class="reviewer-name">{{ review.post_title }}</p>
								<img src="{{ theme.path }}/assets/img/stars/{{ rating }}.png" alt="{{ rating }} stars">
							</div>
							<div class="review-footer flex-container">
								<div class="review-content">
									{{ review.post_content }}
								</div>
								<span class="review-date">
									{{ review.post_date | date("d.m.Y") }}
								</span>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="view-more-cnt text-center">
				<a
					href="{{ function('get_post_type_archive_link', 'reviews') }}"
					class="text-center view-more-btn font-extra-bold"
				>
					{{ __("View more", "colibri") }}
				</a>
			</div>
		</div>
	</section>
{% endif %}

{% if single_product.other_products %}
	<section class="other-products">
		<div class="container">
			<p class="how-it-works-title section-title-small">
				{{ __("Other Cleaning products", "colibri") }}
			</p>

			<div class="other-products-list flex-container">
				{% for product in single_product.other_products %}
					<a href="{{ product.link }}" title="{{ product.title }}" class="product-list-item text-center">
						<img src="{{ product.get_field('products_page_image') }}" alt="{{ product.title }}">
						<img src="{{ product.get_field('products_page_image_hover') }}" class="hover-state" alt="{{ product.title }}">
						<span>{{ product.title }}</span>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}

{% endblock %}
