{% extends "templates/base.twig" %}

{% block content %}

<div class="single-blog-post">
	{% set banner_img_url = banner_image ?: post.thumbnail.src %}
	<div class="banner-image" style="background: #e5e2e5 url({{ banner_img_url }}) no-repeat center/cover;"></div>
	<div class="blog-post-entry">
		<h1 class="page-title font-extra-bold">
			{{ post.title }}
		</h1>
		<div class="post-content">
			{{ post.content }}
			{{ function("share_buttons") }}
		</div>
		{% if post.tags %}
			<p class="tags-title font-extra-bold text-uppercase">
				{{ __("tags", "colibri") }}
			</p>
			<div class="post-tags flex-container">
				{% for tag in post.tags %}
					<span>{{ tag.name }}</span>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}
